body {
    background-color: #F0FFF0;
}

table {
    width: 80%;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
   border: 2px solid black;
}

td {
    border: 2px solid black;
}
