<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask CRUD appsas</title>
</head>
<body>
<h4>Projektų lentelė</h4>
<form action="" method="get">
    <p><input type="text" name="searchlaukelis"></p>
    <p><input type="submit" value="filtruoti"></p>
</form>
<table>
    <tr>
        <th>id</th>
        <th>pavadinimas</th>
        <th>kaina</th>
        <th>kaina su PVM</th>
        <th>sukūrimo data</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{ project.id }}</td>
        <td>{{ project.pavadinimas }}</td>
        <td>{{ project.kaina }}</td>
        <td>{{ project.kaina_su_pvm }}</td>
        <td>{{ project.sukurimo_data }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>