{% extends "base.html" %}

{% block content %}
<h4>Projektų lentelė</h4>
<form action="" method="get">
    <p><input type="text" name="searchlaukelis"></p>
    <p><input type="submit" value="filtruoti"></p>
</form>

<p><a href="/projektas/naujas">Įvesti naują projektą</a></p>
<table>
    <tr>
        <th>id</th>
        <th>pavadinimas</th>
        <th>kaina</th>
        <th>kaina su PVM</th>
        <th>veiksmai</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{ project.id }}</td>
        <td>{{ project.pavadinimas }}</td>
        <td>{{ project.kaina }}</td>
        <td>{{ project.kaina_su_pvm }}</td>
        <td><a href="/projektas/{{ project.id }}">žiūrėti</a>
            <a href="/projektas/redaguoti/{{ project.id }}">redaguoti</a>
            <form action="/projektas/trynimas/{{ project.id }}" method="post" style="display:inline;">
                <input type="submit" value="trinti">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
